fieldset {
  width: fit-content;
}

input,
label {
  display: block;
}

label {
  margin-bottom: 0.5rem;
}

form ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input:valid {
  border: 2px solid green;
}

input:invalid {
  border: 2px solid orange;
}
